<%- include('../includes/header.ejs') %>
<script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <%- include('../includes/navbar.ejs') %>
    <main>
            <% if (posts.length > 0){ %>
                <div class="container d-flex flex-wrap gap-5">
                    <% for(let post of posts){ %>
                    <div class="card " style="width: 18rem;">
                        <div class="card-body text-center">
                            <div class="card-header">
                                <h5 class="card-title"><%= post.jobPostName %></h5>
                            </div>
                        <p class="card-text"><%= post.shortDesc %></p>
                        <p class="card-text">Exp: <%= post.experience %> yrs</p>
                        </div>
                        
                    <% if(isAuthenticated){ %>
                        <div class="card-body text-center d-flex align-items-center justify-content-center gap-3">
                            <a href="/admin/edit-job-post/<%= post._id %>?edit=true" class="btn btn-primary">Edit</a>
                            <form action="/admin/delete-job-post" method="POST">
                                <input type="hidden" name="postId" value="<%= post._id %>">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>                
                    <% } %>
                    </div>
                    <% } %>
                </div>
                <%- include('../includes/pagination.ejs',{currentPage : currentPage,nextPage:nextPage,previousPage:previousPage,lastPage:lastPage,hasNextPage:hasNextPage,hasPreviousPage:hasPreviousPage}) %>

                <% } else { %>
                    <h1>No Job Posts Available! </h1>
            <% } %>
    </main>

<%- include('../includes/footer.ejs') %>