<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/multi_step_form.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>

        <!-- <form action="/user/update-profile" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name" maxlength="10" value="<%= user_data.name %>" required>
                <div id="error-msg-name" style="display: none; color:red"></div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="email" maxlength="10" value="<%= user_data.email %>" required>
                <div id="error-msg-email" style="display: none; color:red"></div>
            </div>
            <div class="mb-3">
                <label for="mobile" class="form-label">Mobile</label>
                <input type="text" class="form-control" name="mobile" id="mobile" maxlength="10" value="<%= user_data.mobile %>" required>
                <div id="error-msg-name" style="display: none; color:red"></div>
            </div>
            work_experience:
            <div class="mb-3">
                <label for="company_name" class="form-label">company_name</label>
                <input type="text" class="form-control" name="company_name" id="company_name" maxlength="10" value="<%= user_data.company_name %>" required>
                <div id="error-msg-company_name" style="display: none; color:red"></div>
            </div>
            <div class="mb-3">
                <label for="job_title" class="form-label">job_title</label>
                <input type="text" class="form-control" name="job_title" id="job_title" maxlength="10" value="<%= user_data.job_title %>" required>
                <div id="error-msg-job_title" style="display: none; color:red"></div>
            </div>
            <div class="mb-3">
                <label for="duration" class="form-label">duration</label>
                <input type="text" class="form-control" name="duration" id="duration" maxlength="10" value="<%= user_data.duration %>" required>
                <div id="error-msg-duration" style="display: none; color:red"></div>
            </div>
            education:
            <div class="mb-3">
                <label for="degree" class="form-label">degree</label>
                <input type="text" class="form-control" name="degree" id="degree" maxlength="10" value="<%= user_data.degree %>" required>
                <div id="error-msg-degree" style="display: none; color:red"></div>
            </div>
            <div class="mb-3">
                <label for="institue_name" class="form-label">institue_name</label>
                <input type="text" class="form-control" name="institue_name" id="institue_name" maxlength="10" value="<%= user_data.institue_name %>" required>
                <div id="error-msg-institue_name" style="display: none; color:red"></div>
            </div>
            <div class="mb-3">
                <label for="field" class="form-label">field</label>
                <input type="text" class="form-control" name="field" id="field" maxlength="10" value="<%= user_data.field %>" required>
                <div id="error-msg-field" style="display: none; color:red"></div>
            </div>
            <div class="mb-3">
                <label for="graduation" class="form-label">graduation Year</label>
                <input type="text" class="form-control" name="graduation" id="graduation" maxlength="10" value="<%= user_data.graduation %>" required>
                <div id="error-msg-graduation" style="display: none; color:red"></div>
            </div>
            skills:
            <div class="mb-3">
                <label for="technical" class="form-label">technical</label>
                <input type="text" class="form-control" name="technical" id="technical" maxlength="10" value="<%= user_data.technical %>" required>
                <div id="error-msg-technical" style="display: none; color:red"></div>
            </div>
            <div class="mb-3">
                <label for="soft" class="form-label">soft</label>
                <input type="text" class="form-control" name="soft" id="soft" maxlength="10" value="<%= user_data.soft %>" required>
                <div id="error-msg-soft" style="display: none; color:red"></div>
            </div>
            references:
            <div class="mb-3">
                <label for="empname" class="form-label">empname</label>
                <input type="text" class="form-control" name="empname" id="empname" maxlength="10" value="<%= user_data.empname %>" required>
                <div id="error-msg-empname" style="display: none; color:red"></div>
            </div>
            <div class="mb-3">
                <label for="department" class="form-label">department</label>
                <input type="text" class="form-control" name="department" id="department" maxlength="10" value="<%= user_data.department %>" required>
                <div id="error-msg-department" style="display: none; color:red"></div>
            </div>
            <div class="mb-3">
                <label for="designation" class="form-label">designation</label>
                <input type="text" class="form-control" name="designation" id="designation" maxlength="10" value="<%= user_data.designation %>" required>
                <div id="error-msg-designation" style="display: none; color:red"></div>
            </div>
            <input type="hidden" name="userId" value="<%= user_data._id %>">
            <button type="submit" id="submitBtn" class="btn btn-primary">Save Profile</button>
        </form> -->
        <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2 id="heading">Set Up Your User Account</h2>
                    <p>Fill all form field to go to next step</p>
                    <form id="msform" action="/user/update-profile" method="POST">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>Account</strong></li>
                            <li id="personal"><strong>Work Experience</strong></li>
                            <li id="payment"><strong>Education</strong></li>
                            <li id="confirm"><strong>Finish</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> <br> <!-- fieldsets -->
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Account Information:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 1 - 4</h2>
                                    </div>
                                </div> <label class="fieldlabels">Email: *</label> <input type="email" name="email" value="<%= user_data.email %>" placeholder="Email Id" /> <label class="fieldlabels">Username: *</label> <input type="text" name="name" value="<%= user_data.name %>" placeholder="UserName" /> <label class="fieldlabels">Mobile: *</label> <input type="tel" name="mobile" value="<%= user_data.mobile %>" placeholder="Mobile" />
                            </div> <input type="button" name="next" class="next action-button" value="Next" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Work Experience:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 2 - 4</h2>
                                    </div>
                                </div> <label class="fieldlabels">Company Name: *</label> <input type="text" name="company_name" value="<%= user_data.profile.work_experience.company_name %>" placeholder="Company Name" /> <label class="fieldlabels">Job Title: *</label> <input type="text" name="job_title" value="<%= user_data.profile.work_experience.job_title %>" placeholder="Job Title" /> <label class="fieldlabels">Duration: *</label> <input type="text" name="duration" value="<%= user_data.profile.work_experience.duration %>" placeholder="Duration" />
                            </div> <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Education:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 3 - 4</h2>
                                    </div>
                                </div> <label class="fieldlabels">Degree: *</label> <input type="text" name="degree" value="<%= user_data.profile.education.degree %>" placeholder="Degree Name" /><label class="fieldlabels">Institute Name: *</label> <input type="text" name="institute_name" value="<%= user_data.profile.education.institute_name %>" placeholder="Institute Name" /><label class="fieldlabels">Field/Branch Name: *</label> <input type="text" name="field" value="<%= user_data.profile.education.field %>" placeholder="Field Name" /><label class="fieldlabels">Graduation Year: *</label> <input type="text" name="graduation" value="<%= user_data.profile.education.graduation %>" placeholder="Graduation Year" />
                            </div> <input type="submit" name="next" class="next action-button" value="Submit" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Finish:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 4 - 4</h2>
                                    </div>
                                </div> <br><br>
                                <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                <div class="row justify-content-center">
                                    <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                </div> <br><br>
                                <div class="row justify-content-center">
                                    <div class="col-7 text-center">
                                        <h5 class="purple-text text-center">You Have Successfully Updated Profile!</h5>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <input type="hidden" name="userId" value="<%= user_data._id %>">
                    </form>
                </div>
            </div>
        </div>
    </div>
     <script>
        $(document).ready(function(){

            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;
            var current = 1;
            var steps = $("fieldset").length;
            
            setProgressBar(current);
            
            $(".next").click(function(){
            
            current_fs = $(this).parent();
            next_fs = $(this).parent().next();
            
            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
            
            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
            step: function(now) {
            // for making fielset appear animation
            opacity = 1 - now;
            
            current_fs.css({
            'display': 'none',
            'position': 'relative'
            });
            next_fs.css({'opacity': opacity});
            },
            duration: 500
            });
            setProgressBar(++current);
            });
            
            $(".previous").click(function(){
            
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();
            
            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
            
            //show the previous fieldset
            previous_fs.show();
            
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
            step: function(now) {
            // for making fielset appear animation
            opacity = 1 - now;
            
            current_fs.css({
            'display': 'none',
            'position': 'relative'
            });
            previous_fs.css({'opacity': opacity});
            },
            duration: 500
            });
            setProgressBar(--current);
            });
            
            function setProgressBar(curStep){
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
            .css("width",percent+"%")
            }
            
            $(".submit").click(function(){
            return false;
            })
            
            });
    </script>

<%- include('../includes/footer.ejs') %>